@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Convergence&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
    width: 100%;
    height: 70vh;
    background-image: url(imagens/image\ 4.png);
    background-repeat: no-repeat;
    background-size: cover; /* Faz com que a imagem cubra toda a tela sem deformar */
    background-position: center; /* Centraliza a imagem de fundo */

}


nav ul {
 text-align: center;
 margin-top: 4%;
 display: flex;
 justify-content: space-around;
}

nav li {
 display: inline-block;
 margin: 0 15px;

}

nav a {
 color: #fff;
 padding: 1.5rem;
 text-decoration: none;
 font-size: 2.0rem; /* Reduz o tamanho da fonte em telas menores */
 font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

nav a:hover {
    color: #CDA147;
    transition: 0.3s ease;


}


#footer-text {
    display: flex; /* Ativa o Flexbox para organizar os elementos */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    gap: 20px;
    color: #CDA147;
    margin-top: 10vh;
    margin-right: 10vh;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
    padding: 1rem;
    font-family: "Bona Nova", serif;
    font-weight: 600;
    font-style: normal;
 }


.tik-tok{
    width: 5.3vh; /* Ajuste de tamanho da imagem 3 se necessário */
    margin-left: 2.0vh;
    margin-top: 1.5vh;
}

.texto-meio{
    font-size: 1.6rem;
    color: white;
    margin-top: 11%;
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 80%; /* Define uma largura máxima para o texto */
    text-align: left; /* Centraliza o texto dentro do bloco */
    margin: 8%;
    
}

.imagen-footer{
    margin-left: 2.0vh;
}

#frase-pele{
    padding: 2rem;
    text-align: end;
    font-size: 1.7rem;
    margin-top: -5%;
    margin-inline-end: 9%;
    color:white;
   
}

.divisoria {
    border: none; /* Remove a borda padrão */
    height: 0.3vh; /* Altura da linha */
    background-color:#fff; /* Cor da linha */
    margin: 20px 0; /* Espaçamento acima e abaixo da linha */
    width: 80%; /* Largura da linha */
    margin-left: auto; /* Centraliza a linha */
    margin-right: auto; /* Centraliza a linha */
    margin-top: 10vh;

}

.palavra-destacar{
    color:#CDA147;
}

.logo {
    width: 25vh; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 15px; /* Espaçamento lateral */
    margin-top: -9vh;
    margin-left: 9vh;
}
