@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  height: 0;
}   

body{
  background-color: #000000;
  margin-bottom: 10px;
  background-image: url(../view/img/image\ 4.png);
  background-repeat: no-repeat;
  background-size: 1280px 590px;}

.logo {
  width: 230px;
  height: 210px;
  margin-top: -445px;
}


#cor{ 
  color: #daa520;
  font-family: Lora;
  display:flex;
  text-decoration-thickness: 5px;
  margin-left: 45%;
  margin-top: 100px;
  font-family: Lora; 
  font-size: 30px;
  align-items: center;
} 

#quadrado-texto { 
  width: 142vh;
  height: 90px;
  margin: 50px;
  margin-top: 250px; 
  margin-bottom: 200px;
  background-color: transparent;
  color: white;
  font-size: 26px;
  font-family: Lora;
}

#quadrado-texto2 { 
  width: 300px;
  height: 0vh; 
  padding-left: 120px;
  background-color: transparent;
  color: white;
  font-size: 21px;
  font-family: Lora;
}

#quadrado-texto3 { 
  width: 350px;
  height: 0vh;
  padding-left: 790px;
  background-color: transparent;
  color: white;
  font-size: 21px;
  font-family: Lora;
}


.home-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #daa520;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
}

.cadastro-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #daa520;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #daa520;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  login-button {float: right;}
}

.divisoria {
  border: none; /* Remove a borda padrão */
  height: 0.3vh; /* Altura da linha */
  background-color:#fff; /* Cor da linha */
  margin: 20px 0; /* Espaçamento acima e abaixo da linha */
  width: 80%; /* Largura da linha */
  margin-left: auto; /* Centraliza a linha */
  margin-right: auto; /* Centraliza a linha */
  margin-top: 180px;
  margin-bottom: 780px;
}

/* Efeito ao passar o mouse (hover) no botão */
.home-button:hover {
    
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.3);
}

.login-button:hover {
    
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.3);
}

.cadastro-button:hover {
    
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.3);
}

/* Efeito ao clicar no botão */
.home-button:active {
    transform: scale(0.98);
}

#container {
  height: 0.5px;
  border-top: 2px solid #ccc;
  margin: 17px 459px; /* Ajustar as margens conforme necessário */
  width: 45%;
}
