@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}		

body{
  background-color: #000000;
}


#cor{ 
  color: white;
  font-family: 'Roboto', cursive;
  display:flex;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  margin-left: 4%;
  font-family: Lora; 
}	

#quadrado-texto { 
  width: 1400px;
  height: 90px;
  margin: 50px;
  margin-top: 50px; 
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', cursive;
}
#quadrado-texto2 {
  margin: 50px;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', cursive;
  text-align: justify
}			


#minha-texto {
  font-family: Lora;
  margin-top: 40px;
  text-align: center;
  font-size: 26px;
  color: wheat;
 

}

.home-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Efeito ao passar o mouse (hover) no botão */
.home-button:hover {
    
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.3);
}

/* Efeito ao clicar no botão */
.home-button:active {
    transform: scale(0.98);
}

#container {
  height: 0.5px;
  border-top: 2px solid #ccc;
  margin: 17px 459px; /* Ajustar as margens conforme necessário */
  width: 45%;
}