<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"href="style.css">

</head>
<body>
   <nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="../css/sobre.css">Sobre</a></li>
    <li>
        <img  class="logo" src="imagens/vibrafut-removebg.png" alt="Logo" class="logo"> <!-- Adicione sua logo aqui -->
    </li>
    <li><a href="../script/login.js">Login</a></li>
    <li><a href="../script/cadastro.js">Cadastre-se</a></li>
  </ul>


<p class="texto-meio">Venha vibrar com o seu time!
    <strong>VibraFut</strong> oferece auxílio para todos os fanáticos de futebol,
    principalmente para os torcedores dos <strong>4 maiores clubes paulistas.</strong><br>
    
    <br> Escolha o seu time paulista do coração e tenha um site personalizado para cada escolha além da história,
     títulos e jogadores da era!</p>

<h1 id="frase-pele">"O futebol é a vida em um campo de jogo: <span class="palavra-destacar">é alegria, tristeza, amor e dor.</span><br> E, no final, tudo se resume a uma única paixão!"
    <br><span class="palavra-destacar">Diego Maradona.</span></h1>

<hr class="divisoria">
</nav>


<footer id="footer-text">Fale Conosco:
    <img  class="imagens-footer" src="imagens/image 1.png">
    <img  class="imagens-footer" src="imagens/image 2.png">
    <img class="tik-tok" src="imagens/image 3.png">
</footer>

</body>


</html>

