<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset='utf-8'>
    <title>Lista de Endereço</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/listEnde.css'>
    <script defer src='../script/listEnde.js'></script> 
</head>
<body>
    <a href="home.html" class="home-buttom">Home</a>
    
    <h1>Endereços Cadastrados</h1>

    <form id="formEndereco" style="display:none;">
        <input type="hidden" id="enderecoId">
        <label for="title">Título:</label>
        <input type="text" id="title" required>
        <br>
        <label for="address">Endereço:</label>
        <input type="text" id="address" required>
        <br>
        <label for="number">Número:</label>
        <input type="text" id="number" required>
        <br>
        <label for="cep">CEP:</label>
        <input type="text" id="cep" required>
        <br>
        <label for="complement">Complemento:</label>
        <input type="text" id="complement">
        <br>
        <button type="submit">Atualizar Endereço</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>CEP</th>
                <th>Complemento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="enderecosBody">
            
        </tbody>
    </table>

    <button onclick="listarEndereco()">Listar Endereços</button>
    <script defer src="../script/listEnde.js"></script>
</body>
</html>
