<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Lista de endereço</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/listEnde.css'>
    <script defer src='../script/listEnde.js'></script> 
</head>
<body>
    <a href="home.html" class="home-buttom">Home</a>

</head>
<body>

    <h1>Endereços Cadastrados</h1>

    <table id="enderecosTable">
        <thead>
            <tr>
                <th>Título</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>CEP</th>
                <th>Complemento</th>
            </tr>
        </thead>
        <tbody id="enderecosBody">
        </tbody>
    </table>


    <button onclick="listarEnderecos()">Listar Endereços</button>

    <div id="enderecosContainer"></div>
    <script src="../script/listEnde.js"></script>
</body>
</html>
