<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/login.css'>
    <script defer src='../script/login.js'></script> 
</head>
<body>
    <a href="index.html" class="home-buttom">Home</a>
    <form> </form>   
   

    <div class="form-container">
        <div class="form-group">
            <h2>Login</h2>
        <div class="form-group">
            <label for="email">Email</label>
            <img src="../view/img/email.png " width="17px">
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>
        </div> 
        <div class="form-group">
            <label for="password">Senha</label>
            <img src="../view/img/senha.png.png" width="17px">
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
        </div>
            <div class="custom-button">
                <input href="../view/home.html" type="button" value="Login" onclick="login()">
            </div>
            
        </div>
        
    </div>
</body>
</html>
