<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/sobre.css">

</head>

<body>
  <div style="margin-left: 800px;">
    <a href="./index.html" class="home-button">Home</a>
    <a href="./cadastro.html" class="cadastro-button">Cadastra-se</a>
    <a href="./login.html" class="login-button">Login</a>
  </div>

  <div>
    <h1 id='cor'>SOBRE NÓS</h1>
  </div>
  <div id='quadrado-texto'>Somos uma empresa focada no esporte futebol em que temos por finalidade deixar você 
    acompanhando de perto <br>
    tudo relacionado ao seu time preferido, como: os dias de jogos,horários, partidas, locais dos
    jogos, jogadores e suas <br>
    posições e muito mais por meio deste site! Você pode ativar suas notificações por aqui também
    e assim sempre <br>
    ficar atulizado as mudanças e progamações.</div>
  
    <div id='quadrado-texto2'>        DUVIDAS FREQUENTES<br>
      <br>
      • O site oferece uma loja oficial? <br> 
      • Quais produtos estão disponíveis? <br>
      • O site oferece quais informações? <br>
      • Como posso me cadastrar no site? <br>
      </div>

      <div id='quadrado-texto3'>NOS CONTATE NAS REDES SOCIAIS<br>
        <br>
       @vibrafutofficial_ <br> 
       @vivibra_fut <br>
       vibra_fut_official <br>
       vibrafutadm@gmail.com <br>
        </div>
    <div>

    <div class="logo">
      <img  class="logo" src="../view/img/vibrafut-removebg.png">
    </div>
  
  <hr class="divisoria">
  </nav>
  <hr class="vertical">
</nav>

</body>

</html>

