<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Escolhendo o time</title>
   
    <link rel='stylesheet' type='text/css' media='screen' href='../css/time.css'>
</head>
<body>

    <div class="container"></div>
        <div class="card">
            <h2>Palmeiras</h2>
            <p>"Cabeça fria, coração quente. Todos somos um"</p>
            <a href="./palmeras.html">selecionar</a>
        </div>
        <div class="card">
            <h2>São Paulo</h2>
            <p>"São os louros do Tricolor, São as glórias do teu primoroso escol!”</p>
            <a href="./saopaulo.html">selecionar</a>
        </div>
        <div class="card">
            <h2>Santos</h2>
            <p> "Somos maior, nos basta só sonhar, seguir..."</p>
            <a href="./santos.html">selecionar</a>
        </div>
        <div class="card">
            <h2>Corinthians</h2>
            <p>“Seja mais corinthiano, seja um gavião”</p>
            <a href="./corinthians.html">selecionar</a>
        </div>
    </div>
</body>
</html>
