<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Cadastro</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/saopaulo.css'>
    <script defer src='../script/cadastro.js'></script> 
</head>
<body>
    <form> </form>    
    <a href="./home.html">HOME</a>
    <a href="./time.html">TIMES</a>

    <div class="container"></div>
        <h1 class="titulo">SANTOS</h1>
        <div class="conteudo">
            <p class="texto-esquerda">TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTOTEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTO</p>
            
            <p class="texto-esquerda">TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTOTEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTO</p>
            <p class="texto-esquerda">TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTOTEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTOTEXTO TEXTO TEXTO</p>

           


        </div>
    </div>
    </div>
